/* BODY */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f6f3ee;
    color:#222;
}

/* =========================
NAVBAR
========================= */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 7%;
    z-index:1000;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.logo img{
    height:40px;
    width:auto;
    display:block;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#5c3d2e;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:.3s;
}

nav ul li a:hover{
    color:#8b5e3c;
}

.menu-btn{
    display:none;
    font-size:28px;
    cursor:pointer;
}













/* FOOTER */

footer{
    background:#0b0d10;
    padding:70px 7% 30px;
}

.footer-grid{
    display:grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    gap:40px;
}

.footer-grid h3{
    color:#fff;
    margin-bottom:20px;
}

.footer-grid p,
.footer-grid li{
    color:#bdbdbd;
    line-height:2;
    list-style:none;
}

.footer-grid a{
    text-decoration:none;
    color:#bdbdbd;
}

.footer-grid a:hover{
    color:#c89b63;
}

.bottom{
    margin-top:50px;
    padding-top:25px;
    border-top:1px solid rgba(255,255,255,0.08);
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
    gap:15px;
    color:#888;
}

/* MOBILE */

@media(max-width:1100px){

    .hero,
    .about{
        grid-template-columns:1fr;
    }

    .feature-grid,
    .collection-grid,
    .product-grid,
    .testimonial-grid,
    .footer-grid{
        grid-template-columns:1fr 1fr;
    }

    .hero-text h1{
        font-size:56px;
    }

}

@media(max-width:768px){

    nav ul{
        position:fixed;
        top:80px;
        right:-100%;
        width:260px;
        height:100vh;
        background:#fff;
        flex-direction:column;
        padding:40px;
        transition:.4s;
    }

    nav ul.active{
        right:0;
    }

    .menu-btn{
        display:block;
    }

    .hero{
        padding-top:120px;
    }

    .hero-text h1{
        font-size:42px;
    }

    .section-title h2,
    .about-text h2,
    .cta h2{
        font-size:34px;
    }

    .feature-grid,
    .collection-grid,
    .product-grid,
    .testimonial-grid,
    .footer-grid{
        grid-template-columns:1fr;
    }

}
