/* BODY */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f6f3ee;
    color:#222;
}

/* =========================
NAVBAR
========================= */

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 7%;
    z-index:1000;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.logo img{
    height:40px;
    width:auto;
    display:block;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#5c3d2e;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-weight:500;
    transition:.3s;
}

nav ul li a:hover{
    color:#8b5e3c;
}

.menu-btn{
    display:none;
    font-size:28px;
    cursor:pointer;
}



/* =========================
HERO: PORTFOLIO|SERVICES|BLOG|CONTACT
========================= */

.hero{
    height:70vh;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    overflow:hidden;
}

.hero::before{
    content:'';
    position:absolute;
    inset:0;
    background:
    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
    url('https://i.pinimg.com/736x/97/91/40/979140409d0029c4c6724a190907b3af.jpg');
    transform:scale(1.05);
}

.hero-content{
    position:relative;
    z-index:2;
    width:90%;
    max-width:800px;
}

.hero h1{
    color:#fff;
    font-size:70px;
    line-height:1.1;
    margin-bottom:20px;
}

.hero h1 span{
    color:#c89b63;
}

.hero p{
    color:#fff;
    font-size:18px;
    line-height:1.8;
}